<!-- Start Content -->

<body style="background-color: white">
	
<div style="padding-left: 200px">
	
    <h2>Contact  Get in touch with us </h2>
           
	 <%= form_for :reset_password, :html=>{:class=>'form', :id=>'contactform'} do |form| %>
         
       <p class="text_box">  <label for="name">*Name:</label></p>
       <p class="text_box1">  <%= form.text_field :name %></p>
        <p>
          <div class="clearfloat"></div>
        
         <p class="text_box"><label for="email">*Email:</label></p>
    	 <p class="text_box1"><%= form.text_field :email %></p> 

        
        
        <div class="clearfloat"></div>
        
         <p class="text_box"><label for="email">*Subject:</label></p>
        <p class="text_box1"> <%= form.text_field :subject %></p>
       
         <div class="clearfloat"></div>
        
          <p class="text_box"><label for="comments">*Message:</label></p>
         <p class="text_box1"><%= form.text_area :message, :rows => 4, :cols => 34 %></p>
        
        
        
          <p align="left" style="margin: 10px 0pt 0pt 200px;" ><%= submit_tag 'Send', :class => "send_button" %></p>
        <% end %>
    </div>
       
     
    
    
    	
		
    <br class="cl">
    <br class="cl">
  
</div>
<!-- End Content -->

</body>
